<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>SmugMugExport</string>
	<key>CFBundleExecutable</key>
	<string>SmugMugExport</string>
	<key>CFBundleIdentifier</key>
	<string>org.aarone.smugmugexport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSMainNibFile</key>
	<string>SmugMugExport</string>
	<key>NSPrincipalClass</key>
	<string>SMEExportPlugin</string>
</dict>
</plist>
